<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="HEWConnectionString" connectionString="Server=4c91ca28-939f-45ca-85bd-a14600b02d88.sqlserver.sequelizer.com;Database=db4c91ca28939f45ca85bda14600b02d88;User ID=mccmgabrlaboahvo;Password=66dvboEoVQrJ6TuYL28w5szqL6hsG4yoacLS7zUqHXRGSASQPm6gsCLLDURefnNZ;MultipleActiveResultSets=True;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ProjectImages" value="/FrontEnd/Projects/Images/"/>
  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms name="MYWEBAPP.ASPXAUTH" loginUrl="/Admin/login.aspx" protection="All" timeout="30" path="/">
      </forms>
    </authentication>
    <httpRuntime maxRequestLength="32768" />
    <compilation debug="true" targetFramework="4.0" />
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <customErrors mode="Off"/>
  </system.web>

  <location path="Admin/Default.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin/Projects">
    <system.web>
      <authorization>
        <allow roles="1,2"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin/News">
    <system.web>
      <authorization>
        <allow roles="1,3"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin/Careers">
    <system.web>
      <authorization>
        <allow roles="1,4"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin/NewsLetter">
    <system.web>
      <authorization>
        <allow roles="1,5"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin/UserManagement">
    <system.web>
      <authorization>
        <allow roles="1,6"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>